USE [master]
GO
/****** Object:  Database [NotesMarketPlace]    Script Date: 27-03-2021 10:03:24 ******/
CREATE DATABASE [NotesMarketPlace]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NotesMarketPlace', FILENAME = N'C:\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\NotesMarketPlace.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NotesMarketPlace_log', FILENAME = N'C:\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\NotesMarketPlace_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NotesMarketPlace].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NotesMarketPlace]
GO
/****** Object:  Table [dbo].[AdminTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminTable](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[SecondaryEmail] [varchar](100) NULL,
	[CountryCode] [varchar](10) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[ProfilePicture] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_AdminTable] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTable](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [int] NOT NULL,
 CONSTRAINT [PK_CategoryTable] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactUsTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUsTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Subject] [varchar](100) NOT NULL,
	[Comments] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_ContactUsTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryTable](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](20) NOT NULL,
	[CountryCode] [varchar](10) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CountryTable] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotesAttachmentTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotesAttachmentTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NID] [int] NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[FilePath] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_NotesAttachmentTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteTable](
	[NID] [int] IDENTITY(1,1) NOT NULL,
	[UID] [int] NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[DisplayPicture] [varchar](max) NULL,
	[TypeID] [int] NULL,
	[NumberOfPages] [int] NULL,
	[Description] [varchar](max) NOT NULL,
	[CountryID] [int] NULL,
	[InstituteName] [varchar](200) NULL,
	[CourseName] [varchar](100) NULL,
	[CourseCode] [varchar](100) NULL,
	[Professor] [varchar](100) NULL,
	[IsPaid] [bit] NOT NULL,
	[Price] [int] NOT NULL,
	[PreviewAttachment] [varchar](max) NULL,
	[Status] [int] NOT NULL,
	[ActionBy] [int] NOT NULL,
	[Rating] [float] NULL,
	[TotalReviews] [int] NULL,
	[TotalSpams] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_NoteTable] PRIMARY KEY CLUSTERED 
(
	[NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReferenceDataTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReferenceDataTable](
	[ID] [int] NOT NULL,
	[StatusName] [varchar](100) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ReferenceDataTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RejectedTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RejectedTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NID] [int] NOT NULL,
	[RejectedBy] [int] NOT NULL,
	[Comments] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_RejectedTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NID] [int] NOT NULL,
	[ReviewBy] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comments] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_ReviewTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleTable](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_RoleTable] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpamTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpamTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NID] [int] NOT NULL,
	[SpamBy] [int] NOT NULL,
	[Comments] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfigurationTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfigurationTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SupportEmail] [varchar](100) NOT NULL,
	[SupportPhoneNumber] [varchar](15) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Facebook] [varchar](max) NULL,
	[Twitter] [varchar](max) NULL,
	[LinkedIn] [varchar](max) NULL,
	[DefaultNoteImage] [varbinary](max) NOT NULL,
	[DefaultProfilePicture] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_SystemConfigurationTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransectionTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransectionTable](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[NID] [int] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[BuyerID] [int] NOT NULL,
	[SellerID] [int] NOT NULL,
	[IsAllowed] [bit] NOT NULL,
	[IsDownloaded] [bit] NOT NULL,
	[DownloadedDate] [datetime] NULL,
	[Status] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_TransectionTable] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeTable](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TypeTable] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfileTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfileTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UID] [int] NOT NULL,
	[DateOfBirth] [datetime] NULL,
	[Gender] [varchar](20) NULL,
	[CountryCode] [varchar](10) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[ProfilePicture] [varchar](max) NULL,
	[AddressLine1] [varchar](100) NOT NULL,
	[AddressLine2] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[ZipCode] [varchar](50) NOT NULL,
	[CountryID] [int] NOT NULL,
	[University] [varchar](100) NULL,
	[College] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserProfileTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 27-03-2021 10:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[SecretCode] [uniqueidentifier] NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoryTable] ON 

INSERT [dbo].[CategoryTable] ([CategoryID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Computer Science', N'Notes Related To Computer Science Study', NULL, 1, NULL, NULL, 1)
INSERT [dbo].[CategoryTable] ([CategoryID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'IT', N'Notes Related To IT', NULL, 1, NULL, NULL, 1)
INSERT [dbo].[CategoryTable] ([CategoryID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'CA', N'Notes Related To CA', NULL, 1, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[CategoryTable] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactUsTable] ON 

INSERT [dbo].[ContactUsTable] ([ID], [FullName], [Email], [Subject], [Comments], [CreatedDate]) VALUES (1, N'Yagnik', N'gohilyagnik3@gmail.com', N'Test', N'asdfg', NULL)
INSERT [dbo].[ContactUsTable] ([ID], [FullName], [Email], [Subject], [Comments], [CreatedDate]) VALUES (2, N'Yagnik', N'thisisemailofmine12345@gmail.com', N'subject is unknown', N'hi i am testing functionality', NULL)
SET IDENTITY_INSERT [dbo].[ContactUsTable] OFF
GO
SET IDENTITY_INSERT [dbo].[CountryTable] ON 

INSERT [dbo].[CountryTable] ([CountryID], [CountryName], [CountryCode], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'India', N'+91', NULL, 1, NULL, NULL, 1)
INSERT [dbo].[CountryTable] ([CountryID], [CountryName], [CountryCode], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Germany', N'+49', NULL, 1, NULL, NULL, 1)
INSERT [dbo].[CountryTable] ([CountryID], [CountryName], [CountryCode], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Japan', N'+81', NULL, 1, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[CountryTable] OFF
GO
SET IDENTITY_INSERT [dbo].[NotesAttachmentTable] ON 

INSERT [dbo].[NotesAttachmentTable] ([ID], [NID], [FileName], [FilePath], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (12, 12, N'Practical1.pdf;', N'Members/2043/12/Attachment/Attachment_2_20-03-2021_10-27-01_Practical1.pdf;', CAST(N'2021-03-05T18:07:45.333' AS DateTime), 2043, CAST(N'2021-03-20T10:27:01.387' AS DateTime), NULL, 1)
INSERT [dbo].[NotesAttachmentTable] ([ID], [NID], [FileName], [FilePath], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (13, 13, N'Practical3.pdf;', N'Members/2043/13/Attachment/Attachment_1_15-03-2021_18-47-49_Practical3.pdf;', CAST(N'2021-03-06T14:18:20.633' AS DateTime), 2043, CAST(N'2021-03-15T18:47:49.383' AS DateTime), NULL, 1)
INSERT [dbo].[NotesAttachmentTable] ([ID], [NID], [FileName], [FilePath], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (14, 14, N'Practical2.pdf;', N'Members/2043/14/Attachment/Attachment_1_06-03-2021_14-21-28_Practical2.pdf;', CAST(N'2021-03-06T14:21:28.403' AS DateTime), 2043, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[NotesAttachmentTable] OFF
GO
SET IDENTITY_INSERT [dbo].[NoteTable] ON 

SET IDENTITY_INSERT [dbo].[NoteTable] OFF
GO
INSERT [dbo].[ReferenceDataTable] ([ID], [StatusName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Draft', N'When User click on Save', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[ReferenceDataTable] ([ID], [StatusName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Submitted For Review', N'When User click on Publish', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[ReferenceDataTable] ([ID], [StatusName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'In Review', N'When Admin click on Review', NULL, NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[ReviewTable] ON 

INSERT [dbo].[ReviewTable] ([ID], [NID], [ReviewBy], [Rating], [Comments], [CreatedDate]) VALUES (1, 54, 2043, 4, N'Review by Yagnik', CAST(N'2021-03-22T18:11:53.367' AS DateTime))
INSERT [dbo].[ReviewTable] ([ID], [NID], [ReviewBy], [Rating], [Comments], [CreatedDate]) VALUES (5, 53, 2043, 5, N'Excellent book but they must needs to add more ncerts in this book', CAST(N'2021-03-23T10:48:01.890' AS DateTime))
INSERT [dbo].[ReviewTable] ([ID], [NID], [ReviewBy], [Rating], [Comments], [CreatedDate]) VALUES (6, 54, 2046, 1, N'Review by gaurav', CAST(N'2021-03-23T13:13:32.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[ReviewTable] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleTable] ON 

INSERT [dbo].[RoleTable] ([RID], [RoleName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Super Admin', N'This role is for super admin', NULL, 1, NULL, NULL, 1)
INSERT [dbo].[RoleTable] ([RID], [RoleName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Admin', N'This role is for admin', NULL, 1, NULL, NULL, 1)
INSERT [dbo].[RoleTable] ([RID], [RoleName], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'User', N'This role is for User', NULL, 1, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[RoleTable] OFF
GO
SET IDENTITY_INSERT [dbo].[SpamTable] ON 

INSERT [dbo].[SpamTable] ([ID], [NID], [SpamBy], [Comments], [CreatedDate]) VALUES (2, 43, 2043, N'First spam by Yagnik', CAST(N'2021-03-24T10:49:16.670' AS DateTime))
INSERT [dbo].[SpamTable] ([ID], [NID], [SpamBy], [Comments], [CreatedDate]) VALUES (3, 53, 2043, N'Spam for checking email by Yagnik', CAST(N'2021-03-24T14:12:42.833' AS DateTime))
INSERT [dbo].[SpamTable] ([ID], [NID], [SpamBy], [Comments], [CreatedDate]) VALUES (4, 54, 2043, N'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit debitis voluptas', CAST(N'2021-03-24T15:33:15.830' AS DateTime))
SET IDENTITY_INSERT [dbo].[SpamTable] OFF
GO
SET IDENTITY_INSERT [dbo].[TransectionTable] ON 

INSERT [dbo].[TransectionTable] ([TID], [NID], [Title], [Category], [Price], [BuyerID], [SellerID], [IsAllowed], [IsDownloaded], [DownloadedDate], [Status], [CreatedDate], [ModifiedDate]) VALUES (19, 12, N'Think And Grow Rich', N'Self Help', 150, 2045, 2043, 1, 1, CAST(N'2021-03-26T13:47:13.350' AS DateTime), N'Draft', CAST(N'2021-03-21T10:49:47.270' AS DateTime), NULL)
INSERT [dbo].[TransectionTable] ([TID], [NID], [Title], [Category], [Price], [BuyerID], [SellerID], [IsAllowed], [IsDownloaded], [DownloadedDate], [Status], [CreatedDate], [ModifiedDate]) VALUES (20, 13, N'Lifes Amazing Secrets', N'Self Help', 150, 2045, 2043, 1, 1, CAST(N'2021-03-26T17:53:48.407' AS DateTime), N'Draft', CAST(N'2021-03-21T11:20:10.453' AS DateTime), NULL)
INSERT [dbo].[TransectionTable] ([TID], [NID], [Title], [Category], [Price], [BuyerID], [SellerID], [IsAllowed], [IsDownloaded], [DownloadedDate], [Status], [CreatedDate], [ModifiedDate]) VALUES (21, 14, N'C++ Programming', N'Computer Science', 300, 2045, 2043, 0, 0, NULL, N'Draft', CAST(N'2021-03-21T11:20:29.073' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TransectionTable] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeTable] ON 

INSERT [dbo].[TypeTable] ([TypeID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Handwritten', N'Handwritten books', NULL, 1, NULL, NULL, 1)
INSERT [dbo].[TypeTable] ([TypeID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'University note', N'university note', NULL, 1, NULL, NULL, 1)
INSERT [dbo].[TypeTable] ([TypeID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'self write', N'Self Written note', NULL, 1, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TypeTable] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProfileTable] ON 

SET IDENTITY_INSERT [dbo].[UserProfileTable] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTable] ON 

INSERT [dbo].[UserTable] ([UID], [RoleID], [FirstName], [LastName], [Email], [Password], [IsEmailVerified], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive], [SecretCode]) VALUES (2043, 3, N'Yagnik', N'Gohil', N'gohilyagnik3@gmail.com', N'AOosBd+bqnmbCGckusXwVbfomfVO+8gm7AsMJfr13wQ=', 1, NULL, NULL, CAST(N'2021-03-17T20:29:34.920' AS DateTime), 2043, 1, N'30b0b314-fede-446c-b383-66b40f2617bb')
INSERT [dbo].[UserTable] ([UID], [RoleID], [FirstName], [LastName], [Email], [Password], [IsEmailVerified], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive], [SecretCode]) VALUES (2045, 3, N'Samay', N'Raina', N'urjabachavo@gmail.com', N'w2dbCQ8xQPdA14PsIoAue2eiK3htZK7R+VYsPhqho8E=', 1, NULL, NULL, CAST(N'2021-03-17T20:32:00.677' AS DateTime), 2045, 1, N'8df83bd6-6f3e-4cef-a03d-2dc35e10096a')
INSERT [dbo].[UserTable] ([UID], [RoleID], [FirstName], [LastName], [Email], [Password], [IsEmailVerified], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive], [SecretCode]) VALUES (2046, 3, N'Gaurav', N'Taneja', N'maibhiunknown003@gmail.com', N'kn0xbkwDdKsxdls3dEhk/pRkREwZOkQKTX+icajiM/Y=', 1, NULL, NULL, CAST(N'2021-03-24T17:38:27.860' AS DateTime), 2046, 1, N'031f6800-3b04-48f8-880f-7de45abef21f')
SET IDENTITY_INSERT [dbo].[UserTable] OFF
GO
ALTER TABLE [dbo].[NotesAttachmentTable]  WITH CHECK ADD  CONSTRAINT [FK_NotesAttachmentTable_NoteTable] FOREIGN KEY([NID])
REFERENCES [dbo].[NoteTable] ([NID])
GO
ALTER TABLE [dbo].[NotesAttachmentTable] CHECK CONSTRAINT [FK_NotesAttachmentTable_NoteTable]
GO
ALTER TABLE [dbo].[NotesAttachmentTable]  WITH CHECK ADD  CONSTRAINT [FK_NotesAttachmentTable_UserTable] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[NotesAttachmentTable] CHECK CONSTRAINT [FK_NotesAttachmentTable_UserTable]
GO
ALTER TABLE [dbo].[NoteTable]  WITH CHECK ADD  CONSTRAINT [FK_NoteTable_CategoryTable] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryTable] ([CategoryID])
GO
ALTER TABLE [dbo].[NoteTable] CHECK CONSTRAINT [FK_NoteTable_CategoryTable]
GO
ALTER TABLE [dbo].[NoteTable]  WITH CHECK ADD  CONSTRAINT [FK_NoteTable_CountryTable] FOREIGN KEY([CountryID])
REFERENCES [dbo].[CountryTable] ([CountryID])
GO
ALTER TABLE [dbo].[NoteTable] CHECK CONSTRAINT [FK_NoteTable_CountryTable]
GO
ALTER TABLE [dbo].[NoteTable]  WITH CHECK ADD  CONSTRAINT [FK_NoteTable_ReferenceDataTable] FOREIGN KEY([Status])
REFERENCES [dbo].[ReferenceDataTable] ([ID])
GO
ALTER TABLE [dbo].[NoteTable] CHECK CONSTRAINT [FK_NoteTable_ReferenceDataTable]
GO
ALTER TABLE [dbo].[NoteTable]  WITH CHECK ADD  CONSTRAINT [FK_NoteTable_TypeTable] FOREIGN KEY([TypeID])
REFERENCES [dbo].[TypeTable] ([TypeID])
GO
ALTER TABLE [dbo].[NoteTable] CHECK CONSTRAINT [FK_NoteTable_TypeTable]
GO
ALTER TABLE [dbo].[NoteTable]  WITH CHECK ADD  CONSTRAINT [FK_NoteTable_UserTable] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[NoteTable] CHECK CONSTRAINT [FK_NoteTable_UserTable]
GO
ALTER TABLE [dbo].[NoteTable]  WITH CHECK ADD  CONSTRAINT [FK_NoteTable_UserTable1] FOREIGN KEY([UID])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[NoteTable] CHECK CONSTRAINT [FK_NoteTable_UserTable1]
GO
ALTER TABLE [dbo].[ReferenceDataTable]  WITH CHECK ADD  CONSTRAINT [FK_ReferenceDataTable_UserTable] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[ReferenceDataTable] CHECK CONSTRAINT [FK_ReferenceDataTable_UserTable]
GO
ALTER TABLE [dbo].[RejectedTable]  WITH CHECK ADD  CONSTRAINT [FK_RejectedTable_NoteTable] FOREIGN KEY([NID])
REFERENCES [dbo].[NoteTable] ([NID])
GO
ALTER TABLE [dbo].[RejectedTable] CHECK CONSTRAINT [FK_RejectedTable_NoteTable]
GO
ALTER TABLE [dbo].[RejectedTable]  WITH CHECK ADD  CONSTRAINT [FK_RejectedTable_UserTable] FOREIGN KEY([RejectedBy])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[RejectedTable] CHECK CONSTRAINT [FK_RejectedTable_UserTable]
GO
ALTER TABLE [dbo].[ReviewTable]  WITH CHECK ADD  CONSTRAINT [FK_ReviewTable_NoteTable] FOREIGN KEY([NID])
REFERENCES [dbo].[NoteTable] ([NID])
GO
ALTER TABLE [dbo].[ReviewTable] CHECK CONSTRAINT [FK_ReviewTable_NoteTable]
GO
ALTER TABLE [dbo].[ReviewTable]  WITH CHECK ADD  CONSTRAINT [FK_ReviewTable_UserTable] FOREIGN KEY([ReviewBy])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[ReviewTable] CHECK CONSTRAINT [FK_ReviewTable_UserTable]
GO
ALTER TABLE [dbo].[SpamTable]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_NoteTable] FOREIGN KEY([NID])
REFERENCES [dbo].[NoteTable] ([NID])
GO
ALTER TABLE [dbo].[SpamTable] CHECK CONSTRAINT [FK_Table_1_NoteTable]
GO
ALTER TABLE [dbo].[SpamTable]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_UserTable] FOREIGN KEY([SpamBy])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[SpamTable] CHECK CONSTRAINT [FK_Table_1_UserTable]
GO
ALTER TABLE [dbo].[TransectionTable]  WITH CHECK ADD  CONSTRAINT [FK_TransectionTable_NoteTable] FOREIGN KEY([NID])
REFERENCES [dbo].[NoteTable] ([NID])
GO
ALTER TABLE [dbo].[TransectionTable] CHECK CONSTRAINT [FK_TransectionTable_NoteTable]
GO
ALTER TABLE [dbo].[TransectionTable]  WITH CHECK ADD  CONSTRAINT [FK_TransectionTable_UserTable] FOREIGN KEY([BuyerID])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[TransectionTable] CHECK CONSTRAINT [FK_TransectionTable_UserTable]
GO
ALTER TABLE [dbo].[TransectionTable]  WITH CHECK ADD  CONSTRAINT [FK_TransectionTable_UserTable1] FOREIGN KEY([SellerID])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[TransectionTable] CHECK CONSTRAINT [FK_TransectionTable_UserTable1]
GO
ALTER TABLE [dbo].[UserProfileTable]  WITH CHECK ADD  CONSTRAINT [FK_UserProfileTable_CountryTable] FOREIGN KEY([CountryID])
REFERENCES [dbo].[CountryTable] ([CountryID])
GO
ALTER TABLE [dbo].[UserProfileTable] CHECK CONSTRAINT [FK_UserProfileTable_CountryTable]
GO
ALTER TABLE [dbo].[UserProfileTable]  WITH CHECK ADD  CONSTRAINT [FK_UserProfileTable_UserTable] FOREIGN KEY([UID])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[UserProfileTable] CHECK CONSTRAINT [FK_UserProfileTable_UserTable]
GO
ALTER TABLE [dbo].[UserProfileTable]  WITH CHECK ADD  CONSTRAINT [FK_UserProfileTable_UserTable1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[UserProfileTable] CHECK CONSTRAINT [FK_UserProfileTable_UserTable1]
GO
ALTER TABLE [dbo].[UserTable]  WITH CHECK ADD  CONSTRAINT [FK_UserTable_RoleTable] FOREIGN KEY([RoleID])
REFERENCES [dbo].[RoleTable] ([RID])
GO
ALTER TABLE [dbo].[UserTable] CHECK CONSTRAINT [FK_UserTable_RoleTable]
GO
ALTER TABLE [dbo].[UserTable]  WITH CHECK ADD  CONSTRAINT [FK_UserTable_UserTable] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[UserTable] ([UID])
GO
ALTER TABLE [dbo].[UserTable] CHECK CONSTRAINT [FK_UserTable_UserTable]
GO
USE [master]
GO
